@import "tailwindcss";

body {
  display: flex;
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.contenido {
  display: flex;
  width: 285px;
  height: 430px;
  background-color: white;
  border-radius: 16px;
  flex-direction: column;
  border: 1px solid black;
  border-right: 7px solid black;
  border-bottom: 7px solid black;
}

.illustration-article {
  width: 245px;
  margin: 26px 20px;
  border-radius: 12px;
}

.recuadro {
  display: flex;
  margin: 0px 274px 0px 24px;
  border: 0px;
  font-family: "Figtree", sans-serif;
  font-weight: 900;
  background-color: hsl(47, 88%, 63%);
  font-size: 12px;
  height: 24px;
  width: 69px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.publicado {
  display: flex;
  margin: 12px 24px;
  font-size: 12px;
  font-family: "Figtree", sans-serif;
  font-weight: bold;
}

.html_css {
  margin: 0px 24px;
  font-family: "Figtree", sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.informacion {
  margin: 12px 30px 11px 24px;
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  color: hsl(0, 0%, 50%);
  line-height: 1.5;
  font-weight: lighter;
}

.icono {
  display: flex;
  align-items: center;
}

.image-avatar {
  margin: 0px 0px 0px 24px;
  width: 26px;
  height: 26px;
  border: 0px;
  padding: 0px;
}

.nombre {
  margin: 0px 14px;
  font-family: "Figtree", sans-serif;
  font-size: 11px;
  font-weight: 800;
}
